<h1> Lista de usuários e suas senhas da tabela no banco: </h1>


{{#each admin}}

    <small>{{createdAt}}</small>
    <h1>{{usuários}}</h1>
     <h1>{{senhas}}</h1> 
     <a href="/deletar/{{id}}"><button>Deletar</button>  </a>
        <hr>
         
    

{{/each}}